<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Right_Click_Commands.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Right_Click_Commands.Properties.Settings>
            <setting name="Col1Width" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Col3Width" serializeAs="String">
                <value>3</value>
            </setting>
        </Right_Click_Commands.Properties.Settings>
    </userSettings>
</configuration>